# Node dependencies
frontend-react/node_modules/
backend/node_modules/

# Build outputs
frontend-react/build/
backend/build/

# Environment variables
*.env

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db
